<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include InstallerVarsGlobal.wxi?>
    
  <!--The product that will be installed-->
  <Product Id="$(var.ProductId)" Name="Velvet Pearl Lottery" Language="1033" Version="$(var.AppVersion)" Manufacturer="denDAY" UpgradeCode="$(var.UpgradeCode)">    
	  <Package Keywords="Installer" InstallerVersion="200" Compressed="yes" Description="Velvet Pearl Lottery $(var.AppVersion) Installer" InstallScope="perMachine"/>     
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="Complete" Title="Velvet Pearl Lottery $(var.AppVersion)" 
             Description="The complete package." 
             Display="expand" 
             Level="1" 
             ConfigurableDirectory="INSTALLDIR"
             AllowAdvertise="no"    
             InstallDefault="local"
             Absent="disallow">
      <Feature Id="MainProgram" Title="Program" 
               Description="The main executable, containing both the graphical user interface, data models." 
               Level="1">
			  <ComponentRef Id="MainExecutable" />
        <ComponentRef Id="JsonLib"/>
        <ComponentRef Id="DatafileIcon"/>
        <ComponentRef Id="ProgramIcon"/>
        <ComponentRef Id="Readme"/>
        <ComponentRef Id="License"/>
        <ComponentRef Id="ProgramMenuDir" />
        <ComponentRef Id="LotteryLogs"/>
      </Feature>    
		</Feature>

    <Icon Id="ApplicationIcon.exe" SourceFile="resources\vpl_program.ico"/>
    <Icon Id="ApplicationIcon.ico" SourceFile="resources\vpl_program.ico"/>
    <Icon Id="UninstallIcon.ico" SourceFile="resources\uninstall.ico"/>
    
    <!--Set info for Control Panel -> Add/Remove Programs entry--> 
    <Icon Id="DatafileIcon.ico" SourceFile="resources\velvet_pearl_lottery_file.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ApplicationIcon.ico"/>
    <Property Id="ARPCONTACT">http://www.enjin.com/profile/493549</Property>
    <Property Id="ARPHELPLINK">http://files.enjin.com/72287/apps/Velvet%20Pearl%20Lottery/help.html</Property>
    
    <!--GUI references - use minimum while allowing for custom install path-->
    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
    <WixVariable Id="WixUILicenseRtf" Value="resources\license.rtf"/>
    
    <!--Windows 7 or bigger, condition-->
    <Condition Message="The application can only be installed on Windows 7 or newer">
      VersionNT >= 601
    </Condition>
    <!--.Net 4.5 condition-->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This setup requires the Mictrosoft .NET Framework 4.5 installed.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
  </Product>  
    
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			
      <!--Installation in Program Files folder-->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="VelvetPearlDir" Name="Velvet Pearl">
          <Directory Id="LotteryDir" Name="Lottery">
				    <Directory Id="INSTALLDIR" />

            <!--Resource directory-->          
            <Directory Id="LogoDir" Name="Logo">
              <Component Id="DatafileIcon" Guid="*">           
                <File Id="DatafileIconVPLF" Name="Lottery file.ico" Source="resources\velvet_pearl_lottery_file.ico" />
              </Component>  
              <Component Id="ProgramIcon" Guid="*">
                <File Id="ProgramIconEXE" Name="Velvet Pearl Lottery.ico" Source="resources\vpl_program.ico"/>
              </Component>
            </Directory>                    

            <!--Main program/executable-->
            <Component Id="MainExecutable" Guid="*">
              <!--Executable file-->
              <File Id="VelvetPearlLotteryEXE" Source="resources\Velvet Pearl Lottery.exe" KeyPath="yes">
                <Shortcut Id="startMenuShortcut" Directory="ProgramMenuDir" Name="Velvet Pearl Lottery" WorkingDirectory="INSTALLDIR" Icon="ApplicationIcon.exe" IconIndex="0" Advertise="yes"/>
                <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="Velvet Pearl Lottery" WorkingDirectory="INSTALLDIR" Icon="ApplicationIcon.exe" IconIndex="0" Advertise="yes"/>
              </File>
              <!--Executable config for definint .NET version and path to libraries-->
              <File Id="VelvetPearlLotteryEXECONFIG" Source="resources\Velvet Pearl Lottery.exe.config"/>
              <!--Uninstall shortcut-->
              <Shortcut Id="UninstallProduct" Name="Uninstall" Description="Uninstall Velvet Pearl Lottery" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" WorkingDirectory="WindowsFolder" Icon="UninstallIcon.ico"/>
              <!--Associate .vplf files and give an icon in registry-->
              <ProgId Id="LotteryDataFileFormat" Description="Velvet Pearl Lottery File" Advertise="yes" Icon="DatafileIcon.ico">
                <Extension Id="vplf">
                  <Verb Id="open" Command="Open" Argument='"%1"' />
                  <MIME Advertise="yes" ContentType="application/vplf" Default="yes"/>
                </Extension>
              </ProgId>
            </Component>

            <!--Libraries-->
            <Directory Id="LibDir" Name="Lib">
              <Component Id="JsonLib" Guid="*">
                <File Id="JsonDLL" Source="resources\Newtonsoft.Json.dll" KeyPath="yes"/>
                <CreateFolder Directory="LibDir">
                  <util:PermissionEx User="Users" GenericAll="yes"/>
                </CreateFolder>
              </Component>  
            </Directory>            
            
            <!--Readme file-->
            <Component Id="Readme" Guid="*">
              <File Id="ReadmeTXT" Name="README.txt" Source="resources\README.txt"/>
            </Component>
          
            <!--License file-->
            <Component Id="License" Guid="*">
              <File Id="LicenseRTF" Name="LICENSE.rtf" Source="resources\license.rtf"/>
            </Component>

            <!--Working directory for uninstall process, allowing it to remove the program folder-->
            <Directory Id="WindowsFolder" Name="WindowsFolder" />

          </Directory>
        </Directory>
			</Directory>

      <!--Flag the program dir for deletion on uninstall-->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Velvet Pearl Lottery">
          <Component Id="ProgramMenuDir" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <!--Desktop reference-->
      <Directory Id="DesktopFolder" Name="Desktop" />      
      
      <!--Directory in C:\ProgramData for log files-->
      <Directory Id="CommonAppDataFolder">
        <Directory Id="VelvetPearlProgramDataDir" Name="Velvet Pearl">
          <Directory Id="LotteryLogDir" Name="Lottery">
            <Component Id="LotteryLogs" Guid="{72FAC52F-6ABF-4A21-8267-A11DBD6D9E54}" KeyPath="yes">
              <File Id="UpdateErrorLogTXT" Source="resources\Update error log.txt" />
              <CreateFolder Directory="VelvetPearlProgramDataDir">
                <util:PermissionEx User="Users" GenericAll="yes"/>
              </CreateFolder>
            </Component>
          </Directory>
        </Directory>                  
      </Directory>      
      
		</Directory>    
	</Fragment>

</Wix>